body {
  margin: 0;
  padding: 0;
}

.row-help {
  max-width: 100%;
  display: flex;
  padding: 5px;
  justify-content: center;
  padding-bottom: 5%;
}

.column-help {
  flex: 100%;
  display: flex;

  flex-wrap: wrap;
}

.column-help img {
  width: 100%;
  margin-top: 10px;
  padding: 0 5px;
  filter: brightness(50%);
}

.column-help img:hover {
  filter: brightness(100%);
}

@media screen and (min-width: 576px) {
  .column-help {
    flex: 50%;
  }
}

@media screen and (min-width: 768px) {
  .column-help {
    flex: 25%;
  }
}
