.studies {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 10%;
}

.card-body {
  height: 100%;
}

.card-title {
  height: 50%;
}

.dark .studies {
  filter: invert(100%);
}

.card {
  margin: 5% 2.5% 5% 2.5%;
  text-align: center;
  height: 275px;
  min-height: 275px;
}

.card img {
  min-height: 50%;
  object-fit: contain;
  padding: 5%;
  width: 100%;
  margin: 0 auto;
  border-bottom: black solid 2px;
}

.card-text {
  display: none;
}

.card-title {
  width: 100%;
  font-size: 18px;
}

.card-body a {
  display: none;
}

@media screen and (min-width: 375px) {
  .card {
    margin: 5% 2.5% 5% 2.5%;
    text-align: center;
    height: 425px;
    min-height: 425px;
  }

  .card-title {
    height: 25%;
  }

  .card-text {
    display: flex;
    height: 25%;
  }
}

@media screen and (min-width: 768px) {
  .card {
    margin: 5% 2.5% 5% 2.5%;
    text-align: center;
    height: 200px;
    min-height: 451px;
  }

  .card img {
    min-height: 234px;
    object-fit: contain;
    padding: 5%;
    border-bottom: black solid 2px;
  }

  .card-body a {
    display: flex;
  }

  .card-body {
    height: 100%;
  }

  .card-title {
    height: 30%;
  }

  .card-text {
    display: flex;
    height: initial;
  }
}
